// .link {
//   text-decoration: none;
//   color: #1976d2;
// }

// .activeLink {
//   text-decoration: none;
//   color: #c62828;
// }

.list {
  display: flex;
  align-items: center;
  min-height: 64px;
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
  margin-right: 20px;
}